
// Fonts
@import url(https://fonts.googleapis.com/css?family=Kantumruy);

// Variables
// @import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$primaryColor: #818181;
$accentColor: blue;
$toolColor: #2281af;
$backgroundColor: #fff;

body {
  background-color: $backgroundColor;
  //font-family: "Libre Franklin", sans-serif;
  font: 400 15px "Libre Franklin", sans-serif;
  line-height: 1.8;
  color: $primaryColor;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}

$navBgColor: $accentColor;
$navFgColor: $backgroundColor;

.navbar {
  margin-bottom: 0;
  background-color: $navBgColor;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  font-family: "Libre Baskerville", serif;
  border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: $navFgColor !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: $navBgColor !important;
  background-color: $navFgColor !important;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  background-color: $navBgColor;
}

.navbar-default .navbar-toggle:hover {
  background-color: $navFgColor;
}

.navbar-default .navbar-toggle:focus {
  background-color: $navFgColor;
}

.navbar-toggle .icon-bar {
  background-color: $navFgColor !important; // color of the 3 lines
}

.navbar-toggle:hover .icon-bar {
  background-color: $navBgColor !important; // color of the 3 lines
}

.navbar-toggle:focus .icon-bar {
  background-color: $navBgColor !important; // color of the 3 lines
}

.jumbotron {
  background-color: $accentColor;
  color: white;
  padding: 100px 25px;
}

.jumbotron h1 {
  font-family: "Libre Baskerville", serif;
}

.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}

.logo {
  color: $accentColor;
  font-size: 200px;
}

.logo-small {
  color: $accentColor;
  font-size: 50px;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
  width: 100%;
  height: 100%;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: $toolColor;
}

.carousel-indicators li {
  border-color: $toolColor;
}

.carousel-indicators li.active {
  background-color: $toolColor;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.panel {
  border: 1px solid $toolColor;
  border-radius: 0;
  transition: box-shadow 0.5a;
}

.panel:hover {
  -webkit-box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  -moz-box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
  border: 1px solid $toolColor;
  background-color: $backgroundColor !important;
  color: $toolColor;
}

.panel-heading {
  color: $backgroundColor !important;
  background-color: $accentColor !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-footer {
  background-color: $backgroundColor !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: $toolColor;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: $accentColor;
  color: $backgroundColor;
}

.mirror {
  display: inline-block;
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.flash-good {
  background: green;
  color: white;
  padding: 5px;
}

.flash-alert {
  background: red;
  color: white;
  padding: 5px;
}

.footer {
  font-size: smaller;
}